<div class="amazon-search">
  <p>Amazonサーチ</p>
  <%= form_with method: :get, local: true do |f| %>
    <%= f.text_field :keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<div class="amazon-content">
  <% @items.each do |item| %>
    <div class="amazon-image">
      <%= image_tag "#{item.image_url}", height: '150px', width: '200px' %>
    </div>
    <div class="amazon-title">
      <%= "title: #{item.title}" %>
    </div>
  <% end %>
</div>