<div class="prefectures">
  <h2>人気のエリアから探す</h2>
  <%= link_to '東京都', prefectures_tokyo_path %>
  <%= link_to '神奈川県', prefectures_tokyo_path %>
  <%= link_to '千葉県', prefectures_tokyo_path %>
  <%= link_to '埼玉県', prefectures_tokyo_path %>
  <%= link_to '大阪', prefectures_tokyo_path %>
  <%= link_to '名古屋', prefectures_tokyo_path %>
  <%= link_to '札幌', prefectures_tokyo_path %>
  <%= link_to '福岡', prefectures_tokyo_path %>
</div>
