<%= javascript_pack_tag 'area_vue' %>

  <%# <div id="area_list">
    <div class="area-item">
      <div class="list-item" v-for="listItem in listItems" :key="listItem.id">
        <img v-if="listItem.imageSrc" :src="listItem.imageSrc" class="prifectures-img">
        <div class="user">
          <span>{{ listItem.areaName }}</span>
        </div>
      </div>
    </div>
    <button class="list-item-button" v-if="(listItems.length - count) >= 0" type="button" @click="isMore">
      もっと見る
    </button>
  </div> %>
<div class="area">
  <h2>人気のエリアから探す</h2>
  <div class="area-card">
    <div class="area-item">
      <%= link_to prefectures_tokyo_path do %>
        <%= image_pack_tag 'media/images/sinjyuku.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="area-title">東京都</p>
      <% end %>
    </div>
    <div class="area-item">
      <%= link_to prefectures_tokyo_path do %>
        <%= image_pack_tag 'media/images/yokohama.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="area-title">神奈川</p>
      <% end %>
    </div>
    <div class="area-item">
      <%= link_to prefectures_tokyo_path do %>
        <%= image_pack_tag 'media/images/chiba.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="area-title">千葉</p>
      <% end %>
    </div>
    <div class="area-item">
      <%= link_to prefectures_tokyo_path do %>
        <%= image_pack_tag 'media/images/oomiya.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="area-title">埼玉</p>
      <% end %>
    </div>
    <div class="area-item">
      <%= link_to prefectures_tokyo_path do %>
        <%= image_pack_tag 'media/images/sinjyuku.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="area-title">大阪</p>
      <% end %>
    </div>
    <div class="area-item">
      <%= link_to prefectures_tokyo_path do %>
        <%= image_pack_tag 'media/images/sinjyuku.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="area-title">京都</p>
      <% end %>
    </div>
    <div class="area-item">
      <%= link_to prefectures_tokyo_path do %>
        <%= image_pack_tag 'media/images/sinjyuku.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="area-title">名古屋</p>
      <% end %>
    </div>
    <div class="area-item">
      <%= link_to prefectures_tokyo_path do %>
        <%= image_pack_tag 'media/images/sinjyuku.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="area-title">札幌</p>
      <% end %>
    </div>
  </div>
</div>
