<div class="area">
  <h2>人気のエリアから探す</h2>
  <div class="area-card">
    <div class="area-item">
      <%= link_to prefectures_tokyo_path do %>
        <%= image_pack_tag 'media/images/sinjyuku.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="area-title">東京都</p>
      <% end %>
    </div>
    <div class="area-item">
      <%= link_to prefectures_kanagawa_path do %>
        <%= image_pack_tag 'media/images/yokohama.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="area-title">神奈川</p>
      <% end %>
    </div>
    <div class="area-item">
      <%= link_to prefectures_chiba_path do %>
        <%= image_pack_tag 'media/images/chiba.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="area-title">千葉</p>
      <% end %>
    </div>
    <div class="area-item">
      <%= link_to prefectures_saitama_path do %>
        <%= image_pack_tag 'media/images/oomiya.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="area-title">埼玉</p>
      <% end %>
    </div>
    <div class="area-item">
      <%= link_to prefectures_oosaka_path do %>
        <%= image_pack_tag 'media/images/oosaka.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="area-title">大阪</p>
      <% end %>
    </div>
    <div class="area-item">
      <%= link_to prefectures_kyoto_path do %>
        <%= image_pack_tag 'media/images/kyoto.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="area-title">京都</p>
      <% end %>
    </div>
    <div class="area-item">
      <%= link_to prefectures_nagoya_path do %>
        <%= image_pack_tag 'media/images/nagoya.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="area-title">名古屋</p>
      <% end %>
    </div>
    <div class="area-item">
      <%= link_to prefectures_hokkaido_path do %>
        <%= image_pack_tag 'media/images/hokkaido.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="area-title">北海道</p>
      <% end %>
    </div>
  </div>
</div>
