<div class="prefectures">
  <h2>人気のエリアから探す</h2>
  <div class="prefectures-flex">
    <div class="prifectures-item">
      <%= link_to prefectures_tokyo_path do %>
        <%= image_pack_tag 'media/images/sinjyuku.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="prifectures-title">東京都</p>
      <% end %>
    </div>
    <div class="prifectures-item">
      <%= link_to prefectures_tokyo_path do %>
        <%= image_pack_tag 'media/images/yokohama.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="prifectures-title">神奈川</p>
      <% end %>
    </div>
    <div class="prifectures-item">
      <%= link_to prefectures_tokyo_path do %>
        <%= image_pack_tag 'media/images/chiba.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="prifectures-title">千葉</p>
      <% end %>
    </div>
    <div class="prifectures-item">
      <%= link_to prefectures_tokyo_path do %>
        <%= image_pack_tag 'media/images/oomiya.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="prifectures-title">埼玉</p>
      <% end %>
    </div>
    <div class="prifectures-item">
      <%= link_to prefectures_tokyo_path do %>
        <%= image_pack_tag 'media/images/sinjyuku.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="prifectures-title">大阪</p>
      <% end %>
    </div>
    <div class="prifectures-item">
      <%= link_to prefectures_tokyo_path do %>
        <%= image_pack_tag 'media/images/sinjyuku.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="prifectures-title">京都</p>
      <% end %>
    </div>
    <div class="prifectures-item">
      <%= link_to prefectures_tokyo_path do %>
        <%= image_pack_tag 'media/images/sinjyuku.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="prifectures-title">名古屋</p>
      <% end %>
    </div>
    <div class="prifectures-item">
      <%= link_to prefectures_tokyo_path do %>
        <%= image_pack_tag 'media/images/sinjyuku.jpeg', alt: "トップページ画像", class: "prifectures-img" %>
        <p class="prifectures-title">札幌</p>
      <% end %>
    </div>
  </div>
</div>
