<div class="new-post">
  <div class="section-info">
      <h2>新着のSaizy</h2>
      <p>Posts will be posted here</p>
  </div>
  <!-- 新着投稿 -->
  <div class="post-grid">
    <div id="slider">
      <% @saizies.published.each do |saizy| %>
        <div class="post">
          <div class="post-img">
            <%= link_to saizy_path(saizy) do%>
              <% if saizy.images.count > 0 %>
                <div class="day">
                  <span><%= saizy.start.strftime("%m月%d日") %>〜<%= saizy.finish.strftime("%m月%d日") %></span>
                </div>
                <%= image_tag saizy.images.first.variant(resize: "200x200").processed %>
              <% end %>
            <% end %>
          </div>
          <div class="post-desc">
            <h3><%= saizy.title.truncate(18) %></h3>
            <p><%= saizy.place.truncate(18) %></p>
          </div>
        </div> 
      <% end %>
    </div>
  </div>
  <!-- /post grid -->
  <!-- アーカイブ -->
  <section class="new-post">
  <div class="section-info">
    <h2>過去のSaizy</h2>
    <p>Posts will be posted here</p>
  </div>
  <!-- post grid -->
  <div class="post-grid">
    <div id="slider-deleted">
      <% @saizies.deleted.each do |saizy| %>
        <div class="post">
          <div class="post-img">
            <%= link_to saizy_path(saizy) do%>
              <% if saizy.images.count > 0 %>
                <div class="day">
                  <span><%= saizy.start.strftime("%m月%d日") %>〜<%= saizy.finish.strftime("%m月%d日") %></span>
                </div>
                <%= image_tag saizy.images.first.variant(resize: "200x200").processed %>
              <% end %>
            <% end %>
          </div>
          <div class="post-desc">
            <h3><%= saizy.title.truncate(18) %></h3>
            <p><%= saizy.place.truncate(18) %></p>
          </div>
        </div> 
      <% end %>
    </div>
  </div>