<h1>ログイン</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @session, url: login_path, scope: :session, local: true) do |f| %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: "form-control", placeholder: "Eメール" %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-control", placeholder: "パスワード" %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>
    
    <p>アカウント作成がまだの方は<%= link_to 'こちら', signup_path %>から</p>
    <p>ログインすると<%= link_to '利用規約', policy_path %>と
        <%= link_to 'プライバシーポリシー', privacy_path %>に同意したことになります。</p>
  </div>
</div>