<% provide(:title, "ログイン")%>
<!-- login -->
<div class="l_form">
  <div class="l_form_box">
    <h2>ログイン</h2>

      <%= form_with(model: @session, url: login_path, scope: :session, local: true) do |f| %>
        <div class="l_form_input">
          <%= f.label :email, "メールアドレス", class: "label_name" %>
          <%= f.email_field :email, class: "input_area", placeholder: "Eメール", required: true %> 
        </div>

        <div class="l_form_input">
          <%= f.label :password, "パスワード", class: "label_name" %>
          <%= f.password_field :password, class: "input_area", placeholder: "パスワード", required: true %>
        </div>

        <div class="l_form_remember">
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %>
            <span>ログインしたままにする</span>
            <p>パスワードをお忘れの方は<%= link_to 'こちら', new_password_reset_path, class: "#" %></p>          
          <% end %>
        </div>
        
        <div class="l_login_form_button">
          <%= f.submit "ログイン", class: "form_button" %>  
        </div>
        <div class="l_login_form_link">
          <p>アカウント作成がまだの方は<%= link_to 'こちら', signup_path %>へ</p>
          <p>ログインすると<%= link_to '利用規約', policy_path %>と<%= link_to 'プライバシーポリシー', privacy_path%>
          に同意したことになります。  
        </div>
      <% end %>
  </div>
</div>
