<!-- login -->
<div class="l_login">
  <div class="title_text">
    <div class="login">ログイン</div>
  </div>

  <div class="form_container">
    <div class="form_inner">
        <%= form_with(model: @session, url: login_path, scope: :session, local: true) do |f| %>

          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, class: "form-control", placeholder: "Eメール", required: true %> <!--input-->

          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, class: "form-control", placeholder: "パスワード", required: true %>

          <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>ログインしたままにする</span>
          <% end %>

          <%= f.submit "ログイン", class: "btn btn-primary" %>
        <% end %>
        
        <div class="pass_link">
          <p>アカウント作成がまだの方は<%= link_to 'こちら', signup_path %>から</p>
          <p>ログインすると<%= link_to '利用規約', policy_path %>と<%= link_to 'プライバシーポリシー', privacy_path%>
          に同意したことになります。     
        </div>
    </div>
  </div>
</div>