<% provide(:title, "Saizyホーム")%>
<!-- ログイン -->
<% if logged_in? %>
  <!-- 検索フォーム -->
  <div class="top-page">

    <div class="top-first">
      <h1><i class="fas fa-search top-icon"></i>検索してみる</h1>
      <%= render 'layouts/search_form' %>
    </div>
    <div class="top-tag">
      <h1><i class="fas fa-search top-icon"></i>特徴から探してみる</h1>
      <%= render 'layouts/tag-item' %>
    </div>
    <!-- 最新の投稿 -->
    <div class="top-secound">
      <%= render 'layouts/top_contents/top_contents'%>
    </div>
    <!-- 過去の投稿 -->
    <div class="top-archive">
      <%= render 'layouts/top_contents/top_second_content'%>
    </div>
    <!-- 都道府県 -->
    <%# <%= render 'shared/feed' %>
    <div class="top-third">
      <%= render 'layouts/top_contents/area' %>
    </div>

    <div class="like-area">
      <%= render 'layouts/top_contents/like_index' %>
    </div>

  </div>
  <!-- 非ログインユーザー -->
  <% else %>
    <main class="top-contents">
      <!-- top image -->
      <div class="hero">
        <div class="hero-content">
          <h2 class="text-main">Saizy<h2>
          <h4>美味しい食べ物を <br> みんなに伝えよう！</h4>
          <p>
            Saizyは食料品の期間限定ショップを<br>たくさんの人に紹介できるサービスです!<br>
          </p>
          <!-- 検索フォーム -->
          <%= render 'layouts/search_form' %>
        </div>
        <div class="hero-image">
          <%= image_pack_tag 'media/images/top-image.jpeg', alt: "トップページ画像" %>
        </div>
      </div>
      <!-- 投稿 -->
      <%= render 'layouts/top_contents/top_contents'%>  
      <!-- 都道府県 -->
      <%= render 'layouts/top_contents/area' %>
      <!-- 百貨店 -->
    </section>
  <% end %>
</div>



