<% provide(:title, "Saizyホーム")%>
<!-- ログイン -->
<% if logged_in? %>
  <!-- 検索フォーム -->
  <div class="top-page">

    <div class="top-first">
      <h1><i class="fas fa-search top-icon"></i>検索してみる</h1>
      <%= render 'layouts/search_form' %>
    </div>
    <div class="top-tag">
      <h1><i class="fas fa-tags top-icon"></i>特徴から探してみる</h1>
      <%= render 'layouts/tag-item' %>
    </div>
    <!-- 最新の投稿 -->
    <div class="top-secound">
      <%= render 'layouts/top_contents/top_contents'%>
    </div>
    <!-- 過去の投稿 -->
    <div class="top-archive">
      <%= render 'layouts/top_contents/top_second_content'%>
    </div>
    <!-- 都道府県 -->
    <%# <%= render 'shared/feed' %>
    <%# <div class="top-third"> %>
      <%# <%= render 'layouts/top_contents/area' %>
    <%# </div> %>
    <!-- お気に入りリスト -->
    <div class="like-area">
      <%= render 'layouts/top_contents/like_index' %>
    </div>

  </div>
  <!-- 非ログインユーザー -->
  <% else %>
    <%= render 'layouts/top_contents/no_login' %>
  <% end %>
</div>



