<% if logged_in? %>
  <section class="new-post">
    <div class="section-info">
      <h2>新着のSaizy</h2>
      <p>Posts will be posted here</p>
    </div>

    <!-- post grid -->
    <div class="post-grid">
      <div id="slider">
        <% @saizies.published.each do |saizy| %>
          <div class="post">
            <div class="post-img">
              <%= link_to saizy_path(saizy) do%>
                <% if saizy.images.count > 0 %>
                  <div class="day">
                    <span><%= saizy.start.strftime("%m月%d日") %>〜<%= saizy.finish.strftime("%m月%d日") %></span>
                  </div>
                  <%= image_tag saizy.images.first.variant(resize: "200x200").processed %>
                <% end %>
              <% end %>
            </div>
            <div class="post-desc">
              <h3><%= saizy.title %></h3>
              <p><%= saizy.place %></p>
            </div>
          </div> 
        <% end %>
      </div>
    </div>
    <!-- /post grid -->

    <section class="new-post">
    <div class="section-info">
      <h2>過去のSaizy</h2>
      <p>Posts will be posted here</p>
    </div>
    <!-- post grid -->
    <div class="post-grid">
      <div id="slider-deleted">
        <% @saizies.deleted.each do |saizy| %>
          <div class="post">
            <div class="post-img">
              <%= link_to saizy_path(saizy) do%>
                <% if saizy.images.count > 0 %>
                  <div class="day">
                    <span><%= saizy.start.strftime("%m月%d日") %>〜<%= saizy.finish.strftime("%m月%d日") %></span>
                  </div>
                  <%= image_tag saizy.images.first.variant(resize: "200x200").processed %>
                <% end %>
              <% end %>
            </div>
            <div class="post-desc">
              <h3><%= saizy.title %></h3>
              <p><%= saizy.place %></p>
            </div>
          </div> 
        <% end %>
      </div>
    </div>
    <!-- /post grid -->

  </section>
  <!-- /new post-->

<!-- cut 
<h1>みんなの投稿</h1>
  <% @microposts.each do |micropost| %>
  <ul>
      <li>
        <%= micropost.user.name %>
        <%= micropost.title%>
        <%= image_tag micropost.display_image if micropost.image.attached? %>
      </li>
    <% end %>
  </ul>
-->




<% else %>
<!-- Main -->
<main class="top-contents">
  <!-- top image -->
  <div class="hero">
    <div class="hero-content">
      <h2 class="text-main">Saizy<h2>
      <h4>美味しい食べ物を <br> みんなに伝えよう！</h4>
      <p>
        Saizyは食料品の期間限定ショップを<br>たくさんの人に紹介できるサービスです!<br>
      </p>
      <div class="hero-action-btn">
        <%= link_to '新規登録（無料）', signup_path, class: "btn-main" %>
        <%= link_to 'ログイン', login_path, class: "btn-main-outline" %>
      </div>
    </div>
    <div class="hero-image">
      <%= image_pack_tag 'media/images/top-image.jpeg', alt: "トップページ画像" %>
    </div>
  </div>
  <!-- /top image -->
  
  <!-- new post -->
  <section class="new-post">
    <div class="section-info">
      <h2>新着のSaizy</h2>
      <p>Posts will be posted here</p>
    </div>

    <!-- post grid -->
    <div class="post-grid">
      <div id="slider">
        <% @saizies.published.each do |saizy| %>
          <div class="post">
            <div class="post-img">
              <%= link_to saizy_path(saizy) do%>
                <% if saizy.images.count > 0 %>
                  <div class="day">
                    <span><%= saizy.start.strftime("%m月%d日") %>〜<%= saizy.finish.strftime("%m月%d日") %></span>
                  </div>
                  <%= image_tag saizy.images.first.variant(resize: "200x200").processed %>
                <% end %>
              <% end %>
            </div>
            <div class="post-desc">
              <h3><%= saizy.title %></h3>
              <p><%= saizy.place %></p>
            </div>
          </div> 
        <% end %>
      </div>
    </div>
    <!-- /post grid -->

  </section>
  <!-- /new post-->
<% end %>
</main>



