確認画面を実装したい 
<!--<ul class="nav">
  <li><%= link_to "やり方", 'https://web-begginer-log.com/rails-confirm/', target: :_blank, rel: "noopener noreferrer" %></li>
  <li>入力</li>
  <li>確認</li>
  <li>完了</li>
</ul>-->

<div class="post">
  <div class="post-title">
    <h1>催事情報入力ページ</h1> 
  </div>

  <%= form_with(model: @saizy, local: true) do |f| %>
  <table class="post-table">
    <tbody class="post-body">
    
      <tr class="post-item">
        <th><%= f.label :title, "催事タイトル", class: "post-item-label" %></th>
        <td><%= f.text_field :title, class: "post-item-input", placeholder: "タイトル" %></td>
      </tr>
      <tr class="post-item">
        <th><%= f.label :name, "ブランド名", class: "post-item-label" %></th>
        <td><%= f.text_field :name, class: "post-item-input", placeholder: "ブランド名" %></td>
      </tr>
      <tr class="post-item">
        <th><%= f.label :place, "出店場所", class: "post-item-label" %></th>
        <td><%= f.text_field :place, class: "post-item-input", placeholder: "出店場所" %></td>
      </tr>
      <tr class="post-item">
        <th><%= f.label :open, "開店時間", class: "post-item-label" %></th>
        <td><%= f.time_field :open, class: "post-item-input", placeholder: "開店時間" %></td>
      </tr>
      <tr class="post-item">
        <th><%= f.label :close, "閉店時間", class: "post-item-label" %></th>
        <td><%= f.time_field :close, class: "post-item-input", placeholder: "閉店時間" %></td>
      </tr>
      <tr class="post-item">
        <th><%= f.label :start, "開始日", class: "post-item-label" %></th>
        <td><%= f.date_field :start, class: "post-item-input", placeholder: "開始日" %></td>
      </tr>
      <tr class="post-item">
        <th><%= f.label :finish, "終了日", class: "post-item-label" %></th>
        <td><%= f.date_field :finish, class: "post-item-input", placeholder: "終了日" %></td>
      </tr>
      <tr class="post-item">
        <th><%= f.label :content, "おすすめポイント", class: "post-item-label" %></th>
        <td><%= f.text_field :content, class: "post-item-textarea", placeholder: "おすすめポイント" %></td>
      </tr>
    </tbody> 
  </table>

  <div class="post-other">
    <h2>カテゴリー選択</h2>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div class="post-tag">
          <%= tag.label do %>
        <div class="post-tag-list">
            <%= tag.check_box %>
            <%= tag.text %>
          <% end %> 
        </div>
    <% end %>
      </div>

    <div class="post-item">
      <%= f.file_field :images, id: "images", multiple: true %>
    </div>

    <div class="form-group">
      <%= f.label :status %><br>
      <%= f.select :status, [["下書き", "draft"], ["公開する", "published"], ["出店終了", "deleted"]],
                            id: "status", class: "form-control" %>
    </div>
    <div class="l_form_form_button">
      <%= f.submit "投稿する", class: "form_button" %>  
    </div>
    <% end %>
  </div>
  </div>
</div>


<script type="text/javascript">
  $("#saizy_images").bind("change", function() {
    const size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("5MBを超える画像は登録できません");
    }
    $("#saizy_images").val("");
  })
</script>

<%# 
<div class="l_form_input">
  <%= f.fields_for :tags do |tf| 
    <%= tf.label :name, "タグ" %>
    <%# tf.text_field :name, class: "input_area", placeholder: "タグを入力してください"
   end
</div>
%>


