<div class="result">
  <div class="result-top-text">
    <h1>検索結果</h1>
    <% if params[:q]['name_cont'] == "" %>
      <p>検索ワードがありません</p>
    <% elsif @saerch_saizies.present? %>
      <p><%= "『#{params[:q][:name_cont]}』の検索結果：  #{@saerch_saizies.count}個の催事が見つかりました" %></p>
    <% else %>
      <p>催事は見つかりませんでした</p>
    <% end %>
  </div>

  <div class="result-flex">
      <% @saerch_saizies.each do |saizy| %>
    <div class="result-card">
      <!-- image -->
      <div class="result-image">
        <%= link_to saizy_path(saizy) do%>
          <% if saizy.images.count > 0 %>
            <div class="day">
              <span><%= saizy.start.strftime("%m月%d日") %>〜<%= saizy.finish.strftime("%m月%d日") %></span>
            </div>
            <%= image_tag saizy.images.first.variant(resize: "500x500").processed %>
          <% end %>
      </div>
      <!-- description -->
      <div class="result-desc">
        <h2><%= saizy.title.truncate(18) %></h2>
        <p>
          <i class="fas fa-map-marker-alt"></i>
          <%= saizy.place.truncate(18) %>
        </p>
        <% end %>
      </div>
    </div>
      <% end %>
  </div>
</div>




<!--
<% @saerch_saizies.each do |f| %>
  <%= f.title %>
  <%= f.name %>
  <%= f.images %>
<% end %>
-->

