<% provide(:title, @saizy.name+"さんの催事")%>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="show-area">
  <%# main contents %>
  <div class="show-main">
  
    <div class="show-title">
      <p><%= @saizy.name %>の催事</p>
      <p><%= @saizy.start.strftime("%m月%d日") %>〜<%= @saizy.finish.strftime("%m月%d日") %>まで</p>
    </div>
    <div class="like-area" id="like_<%= @saizy.id %>">
      <%= render partial: 'likes/like', locals: {saizy: @saizy} %>
      <%= @average_review %>
    </div>
    <div class="tag-area">
      <%= render 'layouts/tag-item' %>
    </div>
    <!-- image area --> 
    <div class="show-box">
      <div class="show-image-area">
        <div class="swiper-container show-slider">
          <div class="swiper-wrapper">
            <% if @saizy.images.attached? %>
              <% @saizy.images.each do |image| %>
                <div class="swiper-slide">
                  <%= image_tag image.variant(resize: "500x500"), class: "show-main-image"%>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <%# サムネイル %>
      <div class="swiper-container slider-thumbnail">
        <div class="swiper-wrapper">
          <% if @saizy.images.attached? %>
            <% @saizy.images.each do |image| %>
              <div class="swiper-slide">
                <%= image_tag image.variant(resize: "500x500") %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="other-area">
        <div class="review-link">
          <%= link_to  saizy_reviews_path(@saizy), target: "_blank" do %>
            <span><i class="far fa-comment-dots review-icon"></i>レビューを見てみる (<%= @reviews.count %>件)</span>
          <% end %>
        </div>
        <div class="impression-area">
          <i class="fas fa-eye eye-icon"></i><%= @saizy.impressions_count %>
        </div>
      </div>
      <!-- 詳細本文 -->
      <div class="show-content-area">
        <div class="show-content-box">
          <div class="main-text">
            <div class="main-text-title">開催日程</div>
            <div class="main-text-dsc"><%= @saizy.start.strftime("%m月%d日") %>〜<%= @saizy.finish.strftime("%m月%d日") %></div>
          </div>
          <div class="main-text">
            <div class="main-text-title">タイトル</div>
            <div class="main-text-dsc"><%= @saizy.title.truncate(30) %></div>
          </div>
          <div class="main-text">
            <div class="main-text-title">ブランド</div>
            <div class="main-text-dsc"><%= @saizy.name %></div>
          </div>
          <div class="main-text">
            <div class="main-text-title">場所</div>
            <div class="main-text-dsc"><%= @saizy.place %></div>
          </div>
          <div class="main-text">
            <div class="main-text-title">営業時間</div>
            <div class="main-text-dsc"><%= @saizy.open %>〜<%= @saizy.close %></div>
          </div>

          <div class="show-point-area">
            <p>おすすめポイント&#x1f970;</p>
            <div><%= simple_format @saizy.content %></div>
          </div>

          <div class="user-post-box">
            <%= link_to user_path(@saizy.user) do %>
            <div class="profile-img">
              <% if @saizy.user.avatar.attached? %>
                <%= image_tag @user.avatar.variant(resize: "300x300") %>
              <% else %>
                <div class="profile-img">
                  <i class="fas fa-user default-user"></i>
                </div>
              <% end %>
            </div>
            <div class="user-post-name">
              <p>投稿者：<%= @saizy.user.name %></p>
              <p><%= time_ago_in_words(@saizy.updated_at) %>前に更新</p>
              <% end %>
            </div>
          </div>
          <%# googlemaps %>
          <div class="google-maps">
            <div class="maps-title">アクセス</div>
            <div id="map"></div>
          </div>

          <div class="edit-destroy">
            <% if current_user?(@saizy.user) %>
            <div class="edit-btn">
              <%= link_to "編集する", edit_saizy_path(@saizy) %>
            </div>
            <div class="destroy-btn">
              <%= link_to "削除", saizy_path, method: :delete,
                                             data: { confirm: "削除しますか？削除すると元に戻せません。" } %>
            </div>
            <% end %>
          </div>
        </div>
        </div>
      </div>
        <%= render 'reviews/reviews_form', review: @review, saizy: @saizy %>
        <%= render 'reviews/reviews_list' %>
    </div>
  </div>
  <%# /main contents %>

  <%# right side %>
  <div class="aside">
    <div class="side-content">
      <%= render 'layouts/top_contents/ranking' %>
    </div>
  </div>
</div>


<script type="text/javascript">
  function initMap() {

      const test ={lat: <%= @saizy.latitude %>, lng: <%= @saizy.longitude %>};
      const map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: test
      });
      const transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      const contentString = '地図：<%= @saizy.place %>';
      const infowindow = new google.maps.InfoWindow({
          content: contentString
      });

      const marker = new google.maps.Marker({
          position:test,
          map: map,
          title: contentString
      });

      marker.addListener('click', function() {
          infowindow.open(map, marker);
      });
  }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>
