<!-- left image -->
<div id="grid-show">

  <div id="left-image">
    <div class="title">
      <h3><%= @saizy.name %>の催事<br><%= @saizy.start.strftime("%m月%d日") %>〜<%= @saizy.finish.strftime("%m月%d日") %>まで</h3>
    </div>
    <div class="show-image">
      <div class="show-slide-image" >
        <% if @saizy.images.attached? %>
          <% @saizy.images.each do |image| %>
            <%= image_tag image.variant(resize: "500x500") %>
        <% end %>
      </div>
      <div class="show-slide-thumb">
        <% @saizy.images.each do |image| %>
          <%= image_tag image.variant(resize: "500x500") %>
        <% end %>
      </div>
      <% end %> 
    </div>  

  </div>

  <!-- 詳細本文 -->
  <div id="left-content">
    <div class="main-content">
      <dl class="main-text">
        <dt>開催日程</dt>
        <dd><%= @saizy.start %>〜<%= @saizy.finish %></dd>
      </dl>
      <dl class="main-text">
        <dt>タイトル</dt>
        <dd><%= @saizy.title.truncate(30) %></dd>
      </dl>
      <dl class="main-text">
        <dt>ブランド</dt>
        <dd><%= @saizy.name %></dd>
      </dl>
      <dl class="main-text">
        <dt>場所</dt>
        <dd><%= @saizy.place %></dd>
      </dl>
      <dl class="main-text">
        <dt>営業時間</dt>
        <dd><%= @saizy.open %>〜<%= @saizy.close %></dd>
      </dl>
    </div>
      <dl class="main-text-content">
        <p>おすすめポイント</p>
        <dd><%= simple_format @saizy.content %></dd>
      </dl>
      <dl class="main-text-content">
        <div><%= link_to user_path(@saizy.user) do %>
          投稿者：<%= @saizy.user.name %>
          <% end %>
        </div>
      </dl>
        <%# <%= @saizy.tags.each do |tag| %>
          <%# <%= tag.name %> 
        <%# end  %>
      <div class="edit-btn">
        <% if @saizy.user.id == current_user.id %>
          <div class="edit-button">
            <%= link_to '編集', edit_saizy_path(@saizy) %>      
          </div>
        <% end %>        
      </div>
    </div>

    <!-- 右側サイドバー -->
    <div class="sidebar">
      <div class="sidebar-title">
        <h3 class="side-t">
          <i class="fas fa-gift session-icon"></i>
          開催中の催事
        </h3>
      </div>
      <% @saizies.published.each do |saizy| %>
      <div class="side-card">
        <div class="side-card-flex">
          <div class="side-image">
            <%= link_to saizy_path(saizy) do%>
              <%= image_tag saizy.images.first.variant(resize: "140x140").processed %>
          </div>
          <div class="side-content">
            <h3 class="side-content-title"><%= saizy.title %></h3>
            <p><%= @saizy.start.strftime("%m月%d日") %>〜<%= @saizy.finish.strftime("%m月%d日") %></p>
            <p><%= saizy.content.truncate(20) %></p>
          </div>
        </div>
            <% end %>
      <% end %>
    </div>
  </div>
</div>

  <!-- right bar -->

