<% provide(:title, @saizy.name+"さんの催事")%>
<div class="show-area">

  <div class="show-title">
    <h3><%= @saizy.name %>の催事<br><%= @saizy.start.strftime("%m月%d日") %>〜<%= @saizy.finish.strftime("%m月%d日") %>まで</h3>
  </div>
  <!-- left image -->
  <div class="show-box">
    <div class="show-image-area">
      <% if @saizy.images.attached? %>
        <% @saizy.images.each do |image| %>
          <%= image_tag image.variant(resize: "500x500") %>
        <% end %>
      <% end %>
    </div>

    <!-- 詳細本文 -->
    <div class="show-content-area">
      <div class="show-content-box">
        <div class="main-text">
          <div class="main-text-title">開催日程</div>
          <div class="main-text-dsc"><%= @saizy.start.strftime("%m月%d日") %>〜<%= @saizy.finish.strftime("%m月%d日") %></div>
        </div>
        <div class="main-text">
          <div class="main-text-title">タイトル</div>
          <div class="main-text-dsc"><%= @saizy.title.truncate(30) %></div>
        </div>
        <div class="main-text">
          <div class="main-text-title">ブランド</div>
          <div class="main-text-dsc"><%= @saizy.name %></div>
        </div>
        <div class="main-text">
          <div class="main-text-title">場所</div>
          <div class="main-text-dsc"><%= @saizy.place %></div>
        </div>
        <div class="main-text">
          <div class="main-text-title">営業時間</div>
          <div class="main-text-dsc"><%= @saizy.open %>〜<%= @saizy.close %></div>
        </div>

        <div class="user-post-box">
          <%= link_to user_path(@saizy.user) do %>
          <div class="profile-img">
            <% if @saizy.user.avatar.attached? %>
              <%= image_tag @saizy.user.avatar.variant(resize: "100x100"), width:150 %>
            <% else %>
              <%= image_pack_tag 'media/images/candy-apple.jpeg', width: 150 %>
            <% end %>
          </div>
          <div class="user-post-name">
            投稿者：<%= @saizy.user.name %>
            <% end %>
          </div>
        </div>
      </div>
          <%# <%= @saizy.tags.each do |tag| %>
            <%# <%= tag.name %> 
          <%# end  %>
      </div>

      <!-- 右側サイドバー -->
  </div>
  <div class="show-point-area">
    <p>おすすめポイント&#x1f970;</p>
    <div><%= simple_format @saizy.content %></div>
  </div>
  <!-- right bar -->
</div>
