<% provide(:title, @saizy.name+"さんの催事")%>



<div class="show-area">
  <%# main contents %>
  <div class="show-main">
  
    <div class="show-title">
      <p><%= @saizy.name %>の催事</p>
      <p><%= @saizy.start.strftime("%m月%d日") %>〜<%= @saizy.finish.strftime("%m月%d日") %>まで</p>
    </div>
    <!-- image area --> 
    <div class="show-box">
      <div class="show-image-area">
        <div class="swiper-container show-slider">
          <div class="swiper-wrapper">
            <% if @saizy.images.attached? %>
              <% @saizy.images.each do |image| %>
                <div class="swiper-slide">
                  <%= image_tag image.variant(resize: "500x500") %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <%# サムネイル %>
      <div class="swiper-container slider-thumbnail">
        <div class="swiper-wrapper">
          <% if @saizy.images.attached? %>
            <% @saizy.images.each do |image| %>
              <div class="swiper-slide">
                <%= image_tag image.variant(resize: "500x500") %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
      <!-- 詳細本文 -->
      <div class="show-content-area">
        <div class="show-content-box">
          <div class="main-text">
            <div class="main-text-title">開催日程</div>
            <div class="main-text-dsc"><%= @saizy.start.strftime("%m月%d日") %>〜<%= @saizy.finish.strftime("%m月%d日") %></div>
          </div>
          <div class="main-text">
            <div class="main-text-title">タイトル</div>
            <div class="main-text-dsc"><%= @saizy.title.truncate(30) %></div>
          </div>
          <div class="main-text">
            <div class="main-text-title">ブランド</div>
            <div class="main-text-dsc"><%= @saizy.name %></div>
          </div>
          <div class="main-text">
            <div class="main-text-title">場所</div>
            <div class="main-text-dsc"><%= @saizy.place %></div>
          </div>
          <div class="main-text">
            <div class="main-text-title">営業時間</div>
            <div class="main-text-dsc"><%= @saizy.open %>〜<%= @saizy.close %></div>
          </div>

          <div class="show-point-area">
            <p>おすすめポイント&#x1f970;</p>
            <div><%= simple_format @saizy.content %></div>
          </div>

          <div class="user-post-box">
            <%= link_to user_path(@saizy.user) do %>
            <div class="profile-img">
              <% if @saizy.user.avatar.attached? %>
                <%= image_tag @saizy.user.avatar.variant(resize: "100x100"), width:150 %>
              <% else %>
                <%= image_pack_tag 'media/images/candy-apple.jpeg', width: 150 %>
              <% end %>
            </div>
            <div class="user-post-name">
              <p>投稿者：<%= @saizy.user.name %></p>
              <p><%= time_ago_in_words(@saizy.created_at) %>前に投稿</p>
              <% end %>
            </div>
          </div>
          <%# googlemaps %>
          <div class="google-maps">
            <div class="maps-title">アクセス</div>
            <div id="map"></div>
          </div>
          <div class="edit-destroy">
            <% if current_user?(@saizy.user) %>
            <div class="edit-btn">
              <%= link_to "編集する", edit_saizy_path(@saizy) %>
            </div>
            <div class="destroy-btn">
              <%= link_to "削除", saizy_path, method: :delete,
                                             data: { confirm: "削除しますか？削除すると元に戻せません。" } %>
            </div>
            <% end %>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <%# /main contents %>

  <%# right side %>
  <div class="aside">
    <div class="aside-title">
      <p>その他のSaizy</p>
    </div>
    <%# sidebar-content %>
    <% @saizies.published.each do |saizy| %>
      <%= link_to saizy_path(saizy) do%>
        <div class="aside-content">
          <div class="aside-image-area">
              <% if saizy.images.count > 0 %>
                <div class="day">
                  <span><%= saizy.start.strftime("%m月%d日") %>〜<%= saizy.finish.strftime("%m月%d日") %></span>
                </div>
                <%= image_tag saizy.images.first.variant(resize: "200x200").processed, width: 150 %>
              <% end %>

          </div>
          <div class="aside-dsc">
            <div class="aside-des-tag">
              <h1><i class="fas fa-tag aside-icon"></i><%= saizy.title.truncate(18) %></h1>
            </div>
            <div class="aside-des-tag">
              <p><i class="fas fa-shopping-bag aside-icon"></i><%= saizy.name.truncate(14) %></p>
            </div>
            <div class="aside-des-tag">
              <p><i class="fas fa-map-marker-alt aside-icon"></i><%= saizy.place.truncate(14) %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<script type="text/javascript">
  function initMap() {

      const test ={lat: <%= @saizy.latitude %>, lng: <%= @saizy.longitude %>};
      const map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: test
      });
      const transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      const contentString = '地図：<%= @saizy.place %>';
      const infowindow = new google.maps.InfoWindow({
          content: contentString
      });

      const marker = new google.maps.Marker({
          position:test,
          map: map,
          title: contentString
      });

      marker.addListener('click', function() {
          infowindow.open(map, marker);
      });
  }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>