<% provide(:title, "東京都の催事")%>

<div class="prefectures">
  <div class="prefectures-left-top">
    <div class="left-top-title">
      <h1>東京都のSaizy</h1>
    </div>
    <div class="left-top-dsc">
      <p>東京都の催事一覧になります。</p>
      <p>東京エリアには有数の百貨店・商業施設があります。</p>
      <p>コロナ禍の状況で以前と比較すると催事出店数は減ってしまいましたが、</p>
      <p>多くのお客様が来店する施設では常に期間限定ショップが賑わっています。</p>
    </div>
  </div>
  <div class="user-ranking">
    <p>swiper test</p>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <%= image_pack_tag 'media/images/slideshow.png', alt: "トップページ画像" %>
        </div>
        <div class="swiper-slide">
          <%= image_pack_tag 'media/images/slideshow.png', alt: "トップページ画像" %>
        </div>
        <div class="swiper-slide">
          <%= image_pack_tag 'media/images/slideshow.png', alt: "トップページ画像" %>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>

  <div class="prefectures-article">
    <div class="result">
      <% if @saizies.tokyo.count === 0 %>
        <p>まだ投稿はありません</p>
      <% else %>
      <div class="result-count">
        <%= @saizies.tokyo.count %>件の投稿
      </div>
      <div class="result-flex">
        <% @saizies.tokyo.each do |saizy| %>
        <div class="result-card">
          <!-- image -->
          <div class="result-image">
            <%= link_to saizy_path(saizy) do%>
              <% if saizy.images.count > 0 %>
                <div class="day">
                  <span><%= saizy.start.strftime("%m月%d日") %>〜<%= saizy.finish.strftime("%m月%d日") %></span>
                </div>
                <%= image_tag saizy.images.first.variant(resize: "500x500").processed %>
              <% end %>
          </div>
          <!-- description -->
          <div class="result-desc">
            <h2><%= saizy.title.truncate(18) %></h2>
            <p>
              <i class="fas fa-map-marker-alt"></i>
              <%= saizy.place.truncate(18) %>
            </p>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>









