<% if logged_in? %>
  <% if current_user.likes.find_by(saizy_id: saizy.id) %>
    <%= link_to saizy_likes_path(saizy.id), method: :delete, remote: true do %>
      <div class="text">
        <p>いいね</p>
      </div>
      <div class="icon">
        <i class="fas fa-heart"></i>
      </div>
      <div class="count">
        <%= @saizy.likes.count %>
      </div>
    <% end %>
  <% else %>
    <%= link_to saizy_likes_path(saizy.id), method: :post, remote: true do %>
      <div class="text">
        <p>いいね</p>
      </div>
      <div class="icon">
        <i class="fas fa-heart"></i>
      </div>
      <div class="count">
        <%= saizy.likes.count %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <%= link_to login_path do %>
    <div class="text">
      <p>いいね</p>
    </div>
    <div class="icon">
      <i class="fas fa-heart"></i>
    </div>
    <div class="cnunt">
      <%= saizy.likes.count %>
    </div>
  <% end %>
<% end %>