<% if logged_in? %>
  <% if current_user.likes.find_by(saizy_id: saizy.id) %>
    <%= link_to saizy_likes_path(saizy.id), method: :delete, remote: true do %>
    <div class="like-icon">
      <div class="icon">
        <i class="fas fa-heart btn-on"></i>
      </div>
      <% end %>
      <div class="text">
        <p><%= @saizy.likes.count %>いいね</p>
      </div>
    </div>
  <% else %>
    <%= link_to saizy_likes_path(saizy.id), method: :post, remote: true do %>
    <div class="like-icon">
      <div class="icon">
        <i class="fas fa-heart btn-off"></i>
      </div>
      <% end %>
      <div class="text">
        <p><%= @saizy.likes.count %>いいね</p>
      </div>
    </div>
  <% end %>
<% else %>
  <%= link_to login_path do %>
  <div class="like-icon">
    <div class="icon">
      <i class="fas fa-heart btn-on"></i>
    </div>
    <% end %>
    <div class="text">
      <p><%= @saizy.likes.count %>いいね</p>
    </div>
  </div>
<% end %>