<div class="l_form">
  <div class="l_form_box">
    <h2>プロフィールを編集する</h2>
      <%= form_with(model: @user, local: true) do |f| %>

        <div class="gravatar_edit">
          <a href="https://gravatar.com/emails" 
             target="_blank" rel="noopener">
            <%= gravatar_for @user %>
          </a>
        </div>

        <div class="l_form_input">
          <%= f.label :name, "ニックネーム", class: "label_name" %>
          <%= f.text_field :name, class: "input_area" %>
          <% if @user.errors.include?(:name) %>
            <p style="color: red;"><%= @user.errors.full_messages_for(:name).first %></p>
          <% end %>
        </div>

        <div class="l_form_input">
          <%= f.label :email, "メールアドレス", class: "label_name" %>
          <%= f.email_field :email, class: "input_area" %> 
          <% if @user.errors.include?(:email) %>
            <p style="color: red;"><%= @user.errors.full_messages_for(:email).first %></p>
          <% end %>
        </div>

        <div class="l_form_input">
          <%= f.label :profile, "プロフィール", class: "label_name" %>
          <%= f.text_field :profile, class: "input_area" %> 
        </div>
     
        <div class="l_login_form_button">
          <%= f.submit "更新する", class: "form_button" %>  
        </div>
      <% end %>
  </div>
</div>
