<%= stylesheet_pack_tag 'hello_vue' %>
<%= javascript_pack_tag 'hello_vue' %>
<%= javascript_pack_tag 'saizy_vue' %>

<% provide(:title, "アカウント編集")%>

<div id="saizy">
  {{ message }}
</div>

<div class="form-area">
  <div class="form-title">
    <h2>プロフィールを編集する</h2>
  </div>

  <div class="form-item">
    <div class="user-image">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar.variant(resize: "300x300"), width:150 %>
      <% else %>
      <div class="default-img">
        <i class="fas fa-user default-user"></i>
      </div>
      <% end %>
    </div>
  </div>
  <%= form_with(model: @user, local: true) do |f| %>

    <div id="single-preview">
      <div class="form-item">
        <%= f.label :avatar, "プロフィールイメージ", class: "form-label", for: "my-file" %>
        <%= f.file_field :avatar, class: "form-input", accept: "image/*", "v-on:change": "previewImage", id: "my-file" %>

        
        <div class="border p-2 mt-3">
          <template v-if="preview">
            <img :src="preview" class="img-fluid" />
          </template>
        </div>
      </div>
    </div>

    <div class="form-item">
      <%= f.label :name, "ニックネーム", class: "form-label" %>
      <%= f.text_field :name, class: "form-input" %>
      <% if @user.errors.include?(:name) %>
        <p style="color: red;"><%= @user.errors.full_messages_for(:name).first %></p>
      <% end %>
    </div>

    <div class="form-item">
      <%= f.label :email, "メールアドレス", class: "form-label" %>
      <%= f.email_field :email, class: "form-input" %> 
      <% if @user.errors.include?(:email) %>
        <p style="color: red;"><%= @user.errors.full_messages_for(:email).first %></p>
      <% end %>
    </div>

    <div class="form-item">
      <%= f.label :profile, "プロフィール", class: "form-label" %>
      <%= f.text_area :profile, class: "form-text-area" %> 
    </div>
  
    <div class="form-item">
      <div class="form-btn">
        <span><%= f.submit "更新する", class: "form-button" %></span> 
      </div>
    </div>
  <% end %>


  
  </div>
</div>
