<h1>ダッシュボード</h1>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
        <!-- ログインしている人の画像 
        <%= link_to gravatar_for(current_user, size: 50), current_user %>
        -->
        <span><%= link_to "プロフィール", current_user %></span>
        <span><%= pluralize(current_user.microposts.count, "micropost") %></span>
        <% if @user.id == current_user.id %>
        メールアドレス: <%= @user.email %><br>
        <%= link_to '編集', edit_user_path(@user) %>    
        <% end %>
        プロフィール: <%= @user.profile %>

    </section>
  </aside>

  <!-- 投稿フォーム -->
  <section class="micropost_form">
    <%= render 'shared/micropost_form' %>
  </section>

  <h2>つぶやき一覧</h2>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>投稿数: <%= @user.microposts.count %></h3>
      <li class="microposts">
        <%= render @microposts %>
      </li>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>




