<h1>ダッシュボード</h1>

現在時刻: <%= Time.now %><br>
名前: <%= current_user.name %>さん<br>
メールアドレス: <%= @user.email %><br>
アカウント作成日: <%= @user.created_at %><br>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>投稿数: <%= @user.microposts.count %></h3>
      <li class="microposts">
        <%= render @microposts %>
      </li>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>

