<% provide(:title, @user.name+"さんの"+@title) %>

<div class="follow">
  <div class="follow-title">
    <h1><%= @title %></h1>
  </div>
  <div class="follow-not">
    <% if @count == 0 %>
      <p>フォローしているユーザーはいません</p>
    <% elsif @counts == 0 %>
      <p>まだフォローされていません</p>
    <% end %>
  </div>

    <% @users.each do |user| %>
      <% if @users.any? %>
      <%= link_to user do %>
      <div class="follow-user">
        <div class="follow-img-area">
          <% if user.avatar.attached? %>
            <%= image_tag user.avatar.variant(resize: "300x300"), width:150 %>
          <% else %>
          <div class="profile-default">
            <i class="fas fa-user default-user"></i>
          </div>
          <% end %>
        </div>
        <div class="follow-content">
          <h1><%= user.name %></h1>
          <p><%= user.profile %></p>
          <div class="profile-follow-btn">
            <%= render 'follow_form' if logged_in? %>
          </div>
        </div>
        
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<!--  
<%= link_to @user do %>
<div class="profile">
  <div class="profile-img">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar.variant(resize: "300x300"), width:150 %>
    <% else %>
    <div class="profile-default">
      <i class="fas fa-user default-user"></i>
    </div>
    <% end %>
  </div>
  <div class="profile-name">
    <h3 class="user-name"><%= @user.name %></h3>
  </div>
  <div class="profile-area">
    <h3 class="user-profile"><%= @user.profile %></h3>
  </div>
</div>
<% end %> -->