<div id="user-show">
  <!-- profile -->
  <div class="profile">
    <div class="profile-img">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar.variant(resize: "300x300"), width:150 %>
      <% else %>
        <%= image_pack_tag 'media/images/candy-apple.jpeg', width: 150 %>
      <% end %>
    </div>
    <h3 class="user-name"><%= @user.name %></h3>
    <% if @user.id == current_user.id %>
      <div class="user-email">
        <i class="far fa-envelope mail-icon"></i>
        <%= @user.email %>
      </div>
      <div class="edit-btn">
        <p><%= link_to 'プロフィールを編集する', edit_user_path(current_user) %></p>  
      </div>
    <% end %>
  </div>
  
  <!-- post -->
  <div class="post">
    <ul class="tab clearfix">
      <li class="active">公開中</li>
      <li>出店終了</li>
      <li>下書き</li>
    </ul>
  
    <div class="area">
      <ul class="show">
        <h2>公開中の投稿</h2>
        <p>投稿数: <%= @user.saizies.published.count %></p>
        <% @user.saizies.published.each do |saizy| %>
        <div class="main-view">
          <div class="view_wrap list-view">
            <div class="view_item">
              <div class="vi_left">
                <%= link_to saizy_path(saizy) do %>
                  <% if saizy.images.count > 0 %>
                    <%= image_tag saizy.images.first.variant(resize: "100x100").processed %>
                  <% end %>
                <% end %>
              </div>
              <div class="vi-right">
                <p class="title"><%= saizy.title %></p>    
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </ul>

      
      <ul>
        <h2>出店終了の投稿</h2>
        <p>投稿数: <%= @user.saizies.deleted.count %></p>
        <% @user.saizies.deleted.each do |saizy| %>
        <div class="main-view">
          <div class="view_wrap list-view">
            <div class="view_item">
              <div class="vi_left">
                <%= link_to saizy_path(saizy) do %>
                  <% if saizy.images.count > 0 %>
                    <%= image_tag saizy.images.first.variant(resize: "100x100").processed %>
                  <% end %>
                <% end %>
              </div>
              <div class="vi-right">
                <p class="title"><%= saizy.title %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </ul>

      <ul>
        <h2>下書きの投稿</h2>
        <p>投稿数: <%= @user.saizies.draft.count %></p>
        <% @user.saizies.deleted.each do |saizy| %>
        <div class="main-view">
          <div class="view_wrap list-view">
            <div class="view_item">
              <div class="vi_left">
                <%= link_to saizy_path(saizy) do %>
                  <% if saizy.images.count > 0 %>
                    <%= image_tag saizy.images.first.variant(resize: "100x100").processed %>
                  <% end %>
                <% end %>
              </div>
                <p class="title"><%= saizy.title %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>