<%= stylesheet_pack_tag 'hello_vue' %>
<%= javascript_pack_tag 'hello_vue' %>
<%= javascript_pack_tag 'saizy_vue' %>

<% provide(:title, @user.name+"さんのマイページ")%>
<div class="user-show">
  <!-- profile -->
  <div class="profile">
    <div class="profile-img">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar.variant(resize: "300x300"), width:150 %>
      <% else %>
      <div class="default-img">
        <i class="fas fa-user default-user"></i>
      </div>
      <% end %>
    </div>
    <div class="profile-name">
      <h3 class="user-name"><%= @user.name %></h3>
    </div>
    <div class="profile-follow">
      <%= render 'layouts/follow/stats' %>
    </div>
    <div class="profile-follow-btn">
      <%= render 'follow_form' if logged_in? %>
    </div>
    <% if @user.id == current_user.id %>
      <div class="user-email">
        <i class="far fa-envelope mail-icon"></i>
        <%= @user.email %>
      </div>
      <div class="edit-btn">
        <%= link_to 'プロフィールを編集する', edit_user_path(current_user) %>  
      </div>
      <div class="edit-btn">
        <%= link_to 'パスワードを再設定する', password_resets_new_path %>  
      </div>
    <% else %>
    <% end %>
  </div>
  
  <!-- post -->
  <div class="user-post">
    <div class="user-post-title">
      <h1>マイページ</h1>
    </div>

    <div id="tabBox">
      <div id="tabs">
        <% if @user.id == current_user.id %>
          <input type="radio" value="1" id="tab1" v-model="isActive"></input>
          <label for="tab1">いいね済み</label>
        <% end %>
        <input type="radio" value="2" id="tab2" v-model="isActive"></input>
        <label for="tab2">公開中(<%= @user.saizies.published.count %>)</label>
        <input type="radio" value="3" id="tab3" v-model="isActive"></input>
        <label for="tab3">出店終了(<%= @user.saizies.deleted.count %>)</label>
        <% if @user.id == current_user.id %>
          <input type="radio" value="4" id="tab4" v-model="isActive"></input>
          <label for="tab4">下書き(<%= @user.saizies.draft.count %>)</label>
        <% end %>
      </div>

      <div class="contents-area">
    
      <ul id="contents">

        <li v-if="isActive == '1' ">
          <div class="aside">
            <%= link_to 'いいねした', likes_user_path %>
          </div>
        </li>

        <li v-if="isActive == '2' ">
          <div class="aside">
            <% @user.saizies.published.each do |saizy| %>
              <%= link_to saizy_path(saizy) do%>
              <div class="aside-content">
                  <div class="aside-image-area">
                    <% if saizy.images.count > 0 %>
                      <div class="day">
                        <span><%= saizy.start.strftime("%m月%d日") %>〜<%= saizy.finish.strftime("%m月%d日") %></span>
                      </div>
                      <%= image_tag saizy.images.first.variant(resize: "200x200").processed, width: 150 %>
                    <% end %>
                  </div>
                  <div class="aside-dsc">
                    <div class="aside-des-tag">
                      <h1><i class="fas fa-tag aside-icon"></i><%= saizy.title.truncate(18) %></h1>
                    </div>
                    <div class="aside-des-tag">
                      <p><i class="fas fa-shopping-bag aside-icon"></i><%= saizy.name.truncate(14) %></p>
                    </div>
                    <div class="aside-des-tag">
                      <p><i class="fas fa-map-marker-alt aside-icon"></i><%= saizy.place.truncate(14) %></p>
                    </div>
                  </div>
              </div>
              <% end %>
            <% end %>
          </div>
        </li>

        <li v-if="isActive == '3' ">
          <div class="aside">
            <% @user.saizies.deleted.each do |saizy| %>
              <%= link_to saizy_path(saizy) do%>
              <div class="aside-content">
                  <div class="aside-image-area">
                    <% if saizy.images.count > 0 %>
                      <div class="day">
                        <span><%= saizy.start.strftime("%m月%d日") %>〜<%= saizy.finish.strftime("%m月%d日") %></span>
                      </div>
                      <%= image_tag saizy.images.first.variant(resize: "200x200").processed, width: 150 %>
                    <% end %>
                  </div>
                  <div class="aside-dsc">
                    <div class="aside-des-tag">
                      <h1><i class="fas fa-tag aside-icon"></i><%= saizy.title.truncate(18) %></h1>
                    </div>
                    <div class="aside-des-tag">
                      <p><i class="fas fa-shopping-bag aside-icon"></i><%= saizy.name.truncate(14) %></p>
                    </div>
                    <div class="aside-des-tag">
                      <p><i class="fas fa-map-marker-alt aside-icon"></i><%= saizy.place.truncate(14) %></p>
                    </div>
                  </div>
              </div>
              <% end %>
            <% end %>
          </div>
        </li>

        <li v-if="isActive == '4' ">
        <div class="aside">
          <% @user.saizies.draft.each do |saizy| %>
            <%= link_to saizy_path(saizy) do%>
            <div class="aside-content">
              <div class="aside-image-area">
                <% if saizy.images.count > 0 %>
                  <div class="day">
                    <span><%= saizy.start.strftime("%m月%d日") %>〜<%= saizy.finish.strftime("%m月%d日") %></span>
                  </div>
                  <%= image_tag saizy.images.first.variant(resize: "200x200").processed, width: 150 %>
                <% end %>
              </div>
              <div class="aside-dsc">
                <div class="aside-des-tag">
                  <h1><i class="fas fa-tag aside-icon"></i><%= saizy.title.truncate(18) %></h1>
                </div>
                <div class="aside-des-tag">
                  <p><i class="fas fa-shopping-bag aside-icon"></i><%= saizy.name.truncate(14) %></p>
                </div>
                <div class="aside-des-tag">
                  <p><i class="fas fa-map-marker-alt aside-icon"></i><%= saizy.place.truncate(14) %></p>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
        </li>
      </ul>
      </div>
    </div>
  </div>
</div>