<% provide(:title, @user.name+"さんのページ")%>
<div class="user-show">
  <!-- profile -->
  <div class="profile">
    <div class="profile-img">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar.variant(resize: "300x300"), width:150 %>
      <% else %>
      <div class="default-img">
        <i class="fas fa-user default-user"></i>
      </div>
      <% end %>
    </div>
    <h3 class="user-name"><%= @user.name %></h3>
    <% if @user.id == current_user.id %>
      <div class="user-email">
        <i class="far fa-envelope mail-icon"></i>
        <%= @user.email %>
      </div>
      <div class="edit-btn">
        <%= link_to 'プロフィールを編集する', edit_user_path(current_user) %>  
      </div>
    <% end %>
  </div>
  
  <!-- post -->
  <div class="user-post">
    <div class="user-post-title">
      <h1>マイページ</h1>
    </div>

    <ul class="tab clearfix">
      <li class="active">公開中</li>
      <li>出店終了</li>
      <li>下書き</li>
    </ul>


      <ul>
        <h2>出店終了の投稿</h2>
        <p>投稿数: <%= @user.saizies.deleted.count %></p>
        <% @user.saizies.deleted.each do |saizy| %>
        <div class="side-card">
          <div class="side-card-flex">
            <div class="side-image">
              <%= link_to saizy_path(saizy) do%>
                <%= image_tag saizy.images.first.variant(resize: "200x200").processed %>
            </div>
            <div class="side-content">
              <h3 class="side-content-title"><%= saizy.title %></h3>
              <p><%= saizy.start.strftime("%m月%d日") %>〜<%= saizy.finish.strftime("%m月%d日") %></p>
              <p><%= saizy.content.truncate(20) %></p>
              <p><%= saizy.updated_at.strftime("%Y年%m月%d日") %>に更新</p>
            </div>
          </div>
          <% end %>
        <% end %>
      </ul>

      <ul>
        <h2>下書きの投稿</h2>
      </ul>


  </div>
</div>