<h1>Saizyアカウントを作りましょう</h1>
<p>Find me in app/views/users/signup.html.erb</p>

<div class="row">
  <div class="col-md-6 col-md-ofset-3">

    <%= form_with(model: @user, local: true) do |f| %>
      <%= f.label :name, "ニックネーム" %>
      <%= f.text_field :name, class: "form-control" %>
      <% if @user.errors.include?(:name) %>
        <p style="color: red;",><%= @user.errors.full_messages_for(:name).first %></p>
      <% end %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: "form-control" %>
      <% if @user.errors.include?(:email) %>
        <p style="color: red;",><%= @user.errors.full_messages_for(:email).first %></p>
      <% end %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-control" %>
      <% if @user.errors.include?(:password) %>
        <p style="color: red;",><%= @user.errors.full_messages_for(:password).first %></p>
      <% end %>

      <%= f.label :password_confirmation, "パスワードの確認" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
      <% if @user.errors.include?(:password_confirmation) %>
        <p style="color: red;",><%= @user.errors.full_messages_for(:password_confirmation).first %></p>
      <% end %>

      <%= f.submit "新規登録", class: "btn btn-primary" %>

      <%= f.check_box :agreement, :as => :boolean, 
          checked: false, class: "form-control" %>
        <%= link_to '利用規約', policy_path %>と
        <%= link_to 'プライバシーポリシー', privacy_path %>に同意します。
      <% if @user.errors.include?(:agreement) %>
        <p style="color: red;",><%= @user.errors.full_messages_for(:agreement).first %></p>
      <% end %>
    <% end %>
  </div>
</div>