<%= javascript_pack_tag 'hello_vue' %>  
<%= javascript_pack_tag 'custom_vue' %>  


<!-- Main -->
<main>
  <!-- top slider -->
  <div class="container-fluid p-0">
    <div class="site-slider">
      <div class="slider-one">
        <%= image_pack_tag 'media/images/shopping.png', class: "img-fluid", alt: "トップページ画像" %> 
        <%= image_pack_tag 'media/images/top-image.jpeg', class: "img-fluid", alt: "トップページ画像" %> 
        <%= image_pack_tag 'media/images/letao.jpeg', class: "img-fluid", alt: "トップページ画像" %> 
      </div>
      <div class="slider-btn">
        <span class="prev position-top"><i class="fas fa-chevron-left"></i></span>
        <span class="next position-top right-0"><i class="fas fa-chevron-right"></i></span>
      </div>
    </div>
  </div>

  <!-- /top slider -->
</main>

<!-- header-index -->
<div class="indexHeader">
  <div class="indexHeader_inner">
    <h1>
      期間限定ショップで<br>
      普段買えない商品を買おう！
    </h1>
    <p>期間限定ショップは、</p>
    <p>『催事』『POPUP』『イベント』など複数の名前で呼ばれます</p>
    <p>あなたのご近所でも遠くの商品が売っているかもしれません！</p>
    <div class="btnHeader">
      <%= link_to '新規登録', signup_path, class: "top-btn signup" %>
      <%= link_to 'ログイン', login_path, class: "top-btn login" %>
    </div>
  </div>
</div>



