<%= javascript_pack_tag 'hello_vue' %>  
<%= javascript_pack_tag 'custom_vue' %>  


<!-- Main -->
<main>
  <!-- top slider -->
  <div class="container-fluid p-0">
    <div class="site-slider">
      <div class="slider-one">
        <%= image_pack_tag 'media/images/shopping.png', class: "img-fluid", alt: "トップページ画像" %> 
        <%= image_pack_tag 'media/images/top-image.jpeg', class: "img-fluid", alt: "トップページ画像" %> 
        <%= image_pack_tag 'media/images/letao.jpeg', class: "img-fluid", alt: "トップページ画像" %> 
      </div>
      <div class="slider-btn">
        <span class="prev position-top"><i class="fas fa-chevron-left"></i></span>
        <span class="next position-top right-0"><i class="fas fa-chevron-right"></i></span>
      </div>
    </div>
  </div>
  <!-- /top slider -->

  <!-- second slider
  <div class="container-fluid">
    <div class="site-slider-two px-md-4">
      <div class="row slider-two text-center">
        <div class="col-md-2 product pt-md-5 pt-4">
          <%= image_pack_tag 'media/images/letao.jpeg', alt: "トップページ画像" %>
          <span class="border site-btn btn-span">Letao</span>
        </div>
        <div class="col-md-2 product pt-md-5 pt-4">
          <%= image_pack_tag 'media/images/ito-kyuemon.jpeg', alt: "トップページ画像" %>
          <span class="border site-btn btn-span">伊藤久右衛門</span>
        </div>
        <div class="col-md-2 product pt-md-5 pt-4">
          <%= image_pack_tag 'media/images/omusubi-cake.png', alt: "トップページ画像" %>
          <span class="border site-btn btn-span">OMUSUBI Cake</span>
        </div>
        <div class="col-md-2 product pt-md-5 pt-4">
          <%= image_pack_tag 'media/images/imano.jpeg', alt: "トップページ画像" %>
          <span class="border site-btn btn-span">いまのフルーツファクトリー</span>
        </div>
        <div class="col-md-2 product pt-md-5 pt-4">
          <%= image_pack_tag 'media/images/hits-company.jpeg', alt: "トップページ画像" %>
          <span class="border site-btn btn-span">カラフルわたあめ</span>
        </div>
        <div class="col-md-2 product pt-md-5 pt-4">
          <%= image_pack_tag 'media/images/amane.jpeg', alt: "トップページ画像" %>
          <span class="border site-btn btn-span">天音</span>
        </div>
      </div>
      <div class="slider-btn">
        <span class="prev position-top">
          <i class="fas fa-chevron-left fa-2x"></i>
        </span>
        <span class="next position-top right-0">
          <i class="fas fa-chevron-right fa-2x text-secondary"></i>
        </span>
      </div>
    </div>
  </div>
   /second slider -->

  <hr class="hr" />

  <!-- facility area -->
  <div class="container text-left">
    <div class="facility">
      <h2>催事開催スペース</h2>
      <p class="text-left">
        百貨店・商業施設・エキナカなど近所の催事に行ってみよう！
      </p>
    </div>
  </div>

  <!-- facility third slider -->
  <div class="container-fluid">
    <div class="site-slider-three px-md-3">
      <div class="slider-three row text-center">
        <!-- image -->
        <div class="col-md-2 product pt-md-3 pr-3">
          <%= image_pack_tag 'media/images/letao.jpeg', class: "img-fluid", alt: "トップページ画像" %>
          <div class="cart-details">
            <h6 class="pro-title p-0">Double Fromage | ドゥーブルフロマージュ</h6>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <div class="pro-price py-2">
                <h5>
                  <small><s class="text-secondary">¥2,500</s>円</small>
                  <small>¥1,728円</small>
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 product pt-md-3 pr-3">
          <%= image_pack_tag 'media/images/candy-apple.jpeg', class: "img-fluid", alt: "トップページ画像" %>
          <div class="cart-details">
            <h6 class="pro-title p-0">Double Fromage | ドゥーブルフロマージュ</h6>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <div class="pro-price py-2">
                <h5>
                  <small><s class="text-secondary">¥2,500</s>円</small>
                  <small>¥1,728円</small>
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 product pt-md-3 pr-3">
          <%= image_pack_tag 'media/images/omusubi-cake.png', class: "img-fluid", alt: "トップページ画像" %>
          <div class="cart-details">
            <h6 class="pro-title p-0">Double Fromage | ドゥーブルフロマージュ</h6>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <div class="pro-price py-2">
                <h5>
                  <small><s class="text-secondary">¥2,500</s>円</small>
                  <small>¥1,728円</small>
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 product pt-md-3 pr-3">
          <%= image_pack_tag 'media/images/imano.jpeg', class: "img-fluid", alt: "トップページ画像" %>
          <div class="cart-details">
            <h6 class="pro-title p-0">Double Fromage | ドゥーブルフロマージュ</h6>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <div class="pro-price py-2">
                <h5>
                  <small><s class="text-secondary">¥2,500</s>円</small>
                  <small>¥1,728円</small>
                </h5>
              </div>
            </div>
          </div>
        </div>
        <!-- image -->
        <div class="col-md-2 product pt-md-3 pr-3">
          <%= image_pack_tag 'media/images/ito-kyuemon.jpeg', class: "img-fluid", alt: "トップページ画像" %>
          <div class="cart-details">
            <h6 class="pro-title p-0">Double Fromage | ドゥーブルフロマージュ</h6>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <div class="pro-price py-2">
                <h5>
                  <small><s class="text-secondary">¥2,500</s>円</small>
                  <small>¥1,728円</small>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /facility third slider -->
  <!-- /facility area -->

</main>

<!-- header-index 
<div class="indexHeader">
  <div class="indexHeader_inner">
    <h1>
      期間限定ショップで<br>
      普段買えない商品を買おう！
    </h1>
    <p>期間限定ショップは、</p>
    <p>『催事』『POPUP』『イベント』など複数の名前で呼ばれます</p>
    <p>あなたのご近所でも遠くの商品が売っているかもしれません！</p>
    <div class="btnHeader">
      <%= link_to '新規登録', signup_path, class: "top-btn signup" %>
      <%= link_to 'ログイン', login_path, class: "top-btn login" %>
    </div>
  </div>
</div>
-->


