<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 40), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="title"><%= micropost.title %></span>
  <span class="content"><%= micropost.content %></span>
  <%= image_tag micropost.display_image if micropost.image.attached? %>
  <span class="timestamp">
    <%= time_ago_in_words(micropost.created_at) %>前に投稿

    <% if current_user?(micropost.user) %>
      <%= link_to "削除", micropost, method: :delete,
                                    data: { confirm: "削除しますか？" } %>
    <% end %>
  </span>
</li>