<% provide(:title, "お問い合わせ")%>
<%= form_with(model: @inquiry, :url => inquiry_confirm_path, local: true ) do |f| %>

  <div class="inquiry">
    <div class="inquiry-head">
      <h1>【Saizy】お問い合わせについて</h1>
    </div>
    <!-- エラーメッセージ -->
    <% if @inquiry.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <strong>入力内容にエラーがあります</strong>
        <ul>
          <% @inquiry.errors.each do |attr, msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- お問い合わせフォーム -->
    <div class="inquiry-form">

      <div class="inquiry-item">
        <p><%= f.label :name, "1.お名前をご記載ください", class: "inquiry-item-label" %>
        <span class="input-item-label-required">必須</span>
        </p>
        <%= f.text_field :name, class: "inquiry-item-input", placeholder: "催事花子", required: true %>
      </div>

      <div class="inquiry-item">
        <p><%= f.label :email, "2.メールアドレスをご記載ください", class: "inquiry-item-label" %>
        <span class="input-item-label-required">必須</span>
        </p>
        <%= f.email_field :email, class: "inquiry-item-input", placeholder: "saizy@example.com", required: true %> 
      </div>

      <div class="inquiry-item">
        <p><%= f.label :message, "3.お問い合わせ内容", class: "inquiry-item-label" %>
        <span class="input-item-label-required">必須</span>
        </p>
        <%= f.text_area :message, class: "inquiry-item-textarea", placeholder: "お問い合わせ内容をご記載ください", required: true %> 
      </div>
      <div class="inquiry-item-button">
        <%= f.submit '確認', class: 'inquiry-btn' %>   
      </div>
    </div>
  </div>
<% end %>