<p>レビューを書いてみよう</p>

<div class="rating-box">
  <%= form_with(model: review, url: saizy_reviews_path(saizy), local: true) do |f| %>
    <div class="main-rating">
      <div class="ratings">
        <div id="star-icon">
          <span class="ratings-text">評価</span> <%# star-icon %>
        </div>
      </div>
      <%# ユーザーがいくつ星を選択しているか %>
      <div class="rating-value-display">
        <span id="rating-value-display">0</span>/5
      </div>
    </div>
    <%= f.hidden_field :saizy_id, value: saizy.id %>
    <%= f.hidden_field :score, id: "rating-value" %>
    <%= f.text_area :content, class: "textarea", placeholder: "実装中なのでまだレビューはできません" %>
    <%= f.submit "投稿する", class: "review-btn" %>
    <%= link_to '他のレビューをみてみる', saizy_reviews_path(saizy), class: "other-review-btn" %>

  <% end %>
</div>

<script>
  $('#star-icon').raty({
    size      : 30,
    starOff   : '<%= asset_path('star-icon2.png') %>',
    starOn    : '<%= asset_path('star-icon.png') %>',
    starHalf  : '<%= asset_path('star-half.png') %>',
    scoreName : 'saizy[rating]',
    half      : false,
  });

</script>