<div class="review-list"> 
  <div class="review-top">
    <h1><i class="far fa-comment-dots review-icon"></i><%= @all_reviews.count %>件の口コミ</h1>
    <h1 class="average-star">平均: </h1>
    <span id="star-average-<%= saizy.id %>"></span>
  </div>

  <% if @reviews.count == 0 %>
    <p>まだ口コミはありません。</p>
  <% else %>
    
    <% @reviews.each do |review| %>
      <div class="review-list-content">
        <div class="review-list-title">
          <%= review.title %>
        </div>
        <div class="review-list-comment">
          <%= safe_join(review.comment.split("\n"), tag(:br)) %>
        </div>
        <div class="review-list-down">
          <div class="review-user-img">
            <% if review.user.avatar.attached? %>
              <%= image_tag review.user.avatar.variant(resize: "300x300") %>
            <% else %>
              <i class="fas fa-user review-default-user"></i>
            <% end %>
          </div>
          <div class="review-rate" data-score="<%= review.rate %>"></div>

          <div class="review-list-create">
            <%= review.created_at.strftime('%Y年%m月%d日') %>に投稿
          </div>
        </div>
      </div>
    <% end %>
      <div class="review-list-more">
        <%= link_to  saizy_reviews_path(saizy), target: "_blank" do %>
          <i class="fas fa-play-circle more-icon"></i><span>もっと口コミを見てみる(<%= @all_reviews.count %>件)</span>
        <% end %>
      </div>
  <% end %>
</div>

<script>
  <%= render 'shared/star_js' %>
  
    $("#star-average-<%= saizy.id %>").raty({
    starOff:  '<%= asset_path('star-icon2.png') %>',
    starOn : '<%= asset_path('star-icon.png') %>',
    starHalf: '<%= asset_path('star-icon.png') %>',

    half: false,
    readOnly: true,
    score: '<%= saizy.reviews.average(:rate).to_f.round(2) %>'
  });

</script>



