<footer class="ly_footer">
  <div class="ly_footer_inner">
    <ul class="nav-links">
      <li class="nav-links-item"><%= link_to 'Saizy', root_path, class: "nav-links__link" %></li>
      <li class="nav-links-item"><%= link_to 'Saizyの目指す世界', worldof_path, class: "nav-links__link" %></li>
      <li class="nav-links-item"><%= link_to '利用規約', policy_path, class: "nav-links__link" %></li>
      <li class="nav-links-item"><%= link_to 'プライバシーポリシー', privacy_path, class: "nav-links__link" %></li>
      <li class="nav-links-item"><%= link_to 'ヘルプ', help_path, class: "nav-links__link" %></li>
      <li class="nav-links-item"><%= link_to 'お問い合わせ', contact_path, class: "nav-links__link" %></li>
      <li class="nav-links-item"><%= link_to 'Vue.jsの練習', vue_path, class: "nav-links__link" %></li>
    </ul>
    <p class="ly_footer_copyright">&copy; Saizy, All Rights Reserved.</p>
  </div>
</footer>


















