<header class="ly_header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <%= link_to 'Saizy', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <!-- ログイン済 -->
          <li class="nav-item">
            <%= link_to '使い方', about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'お気に入り', "#", class: "nav-link" %>
          </li>
          <div class="dropdown">
            <a class="dropdown-toggle nav-link" href="#"
               id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" 
               aria-expanded="false"><%= @current_user.name %>さん</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to 'マイページ', "#", class: "dropdown-item" %>
              <%= link_to 'アカウント設定', current_user, class: "dropdown-item" %>
              <%= link_to 'ログアウト', logout_path, class: "dropdown-item", method: :delete %>
            </div>
          </div>
        <% else %>
          <!-- 未ログイン -->
          <li class="nav-item">
            <%= link_to '新規登録', signup_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログイン', login_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>



