<header class="l_header">
  <%= link_to 'Saizy', root_path, class: "l_header_logo" %>
  <div class="l_header_inner">
    <nav class="l_header_nav">
      <ul>
        <% if logged_in? %>
          <!-- ログイン済 -->
          <li>
            <%= link_to '使い方', about_path %>
          </li>
          <li>
            <%= link_to 'お気に入り', "#" %>
          </li>
          <div class="dropdown">
            <a class="dropdown-toggle nav-link" href="#"
               id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" 
               aria-expanded="false"><%= @current_user.name %>さん</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to 'マイページ', "#", class: "dropdown-item" %>
              <%= link_to 'アカウント設定', current_user, class: "dropdown-item" %>
              <%= link_to 'ログアウト', logout_path, class: "dropdown-item", method: :delete %>
            </div>
          </div>
        <% else %>
          <!-- 未ログイン -->
          <li>
            <%= link_to '新規登録', signup_path %>
          </li>
          <li>
            <%= link_to 'ログイン', login_path %>
          </li>
        <% end %>
      </ul>
    </nav>
    .
    <div class="clearfix"></div>
  </div>
</header>





