<header>
  <div class="header-logo">
    <%= link_to 'Saizy', root_path, class:"site-logo" %>
  </div>
  <div class="header-nav">
    <ul class="header-list">
      <% if logged_in? %>
        <li><%= link_to 'マイページ', user_path(current_user) %></li>          
        <li><%= link_to '催事投稿', new_saizy_path %></li>          
        <li><%= link_to 'アカウント設定', edit_user_path(current_user) %></li>          
        <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>          
      <% else %>
        <li><%= link_to 'ログイン', login_path, class: "login-btn" %></li>
        <li><%= link_to '新規登録', signup_path, class: "signup-btn" %></li>
      </p>
      <% end %>
    </ul>
  </div>
  <div class="fa fa-bars menu-icon"></div>
</header>