<header class="header-area">
  <div class="header-logo">
    <%= link_to 'Saizy', root_path, class:"site-logo" %>
  </div>
  <% if logged_in? %>
  <div class="header-right">
    <div class="header-item">
      <%= link_to root_path do%>
        <span><i class="fas fa-home"></i></span>
        <p><%= link_to 'ホーム', root_path %></p>
      <% end %>
    </div>
    <div class="header-item">
      <%= link_to new_saizy_path do%>
        <span><i class="fas fa-pen"></i></span>
        <p>投稿</p>
      <% end %>
    </div>
    <div class="header-item">
      <%= link_to user_path(current_user) do%>
        <span><i class="far fa-user-circle"></i></span>
        <p>マイページ</p>
      <% end %>
    </div>
    <div class="header-item">
      <%= link_to logout_path, method: :delete do%>
      <span><i class="fas fa-sign-out-alt"></i></span>
      <p>ログアウト</p>
      <% end %>
    </div>
    <% else %>
    <div class="header-nav">
      <ul class="header-list">
          <li><%= link_to 'ログイン', login_path, class: "login-btn" %></li>
          <li><%= link_to '新規登録', signup_path, class: "signup-btn" %></li>
        </p>
        <% end %>
      </ul>
    </div>
  </div>
</header>
