<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Saizy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_pack_tag 'application' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <%= stylesheet_pack_tag 'hello_vue'  %>
    <%= javascript_pack_tag 'hello_vue' %> 
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/second_header' %>
    <%= render 'layouts/vue_sample' %>
    <section>
      <%= yield %>
    </section>
    <%= render 'layouts/footer' %>
  </body>
</html>
