<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Saizy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    
  </head>

  <body>
    <%= render 'layouts/header' %>
    <section>
      <%= yield %>
    </section>

    <!--
      <%= debug(params) if Rails.env.development? %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    -->

    <%= render 'layouts/footer' %>
  </body>
</html>
