<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= yield(:title) %> | 美味しいスイーツ、和菓子、惣菜などの催事情報サイト | Saizy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>

    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <!--<%= render 'layouts/second_header' %>-->
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <section>
      <%= yield %>
    </section>

    <%= render 'layouts/footer' %>
    <%= render 'layouts/mobile_menu' %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
  </body>
</html>
